# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Outputs / Data (اختياري حسب رغبتكم)
data/input/answers_sheets
# Ignore raw OCR text files
data/output/**/pages/

# Ignore raw extraction json
data/output/**/answers/sheet_identifiers.json
# Logs
*.log
